<!DOCTYPE html>
<html>
<body>

<h1>Churn Model UI Login</h1>

<p>Please enter your username and password.</p>

<form action="/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="text" id="password" name="password"><br><br>
  <input type="submit" value="Submit">
</form>

<p></p>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{message}}
{% endfor %}
{% endif %}
{% endwith %}

</body>
</html>
